In [1]:
import pandas as pd

In [2]:
ice_cream = ["Chocolate", "Vanilla", "Rum Raisin"]

In [3]:
pd.Series(ice_cream)

0     Chocolate
1       Vanilla
2    Rum Raisin
dtype: object

In [4]:
lottery_numbers = [4,8,15,16,23,42]
pd.Series(lottery_numbers)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [5]:
reg = [True, False, True, False]
pd.Series(reg)

0     True
1    False
2     True
3    False
dtype: bool

In [6]:
prices = pd.Series([2.99, 4.45, 1.36])

In [7]:
prices.sum()

8.8

In [8]:
prices.median()

2.99

In [9]:
prices.mean()

2.9333333333333336

In [10]:
adjectives = pd.Series(["Smart","Handsome", "charming", "Brilliant", "Humble", "Smart"])

In [11]:
adjectives.size

6

In [12]:
    adjectives.is_unique

False

In [13]:
adjectives.values

array(['Smart', 'Handsome', 'charming', 'Brilliant', 'Humble', 'Smart'],
      dtype=object)

In [14]:
adjectives.index

RangeIndex(start=0, stop=6, step=1)

In [15]:
type(adjectives.values)

numpy.ndarray

In [16]:
fruits = ["Apple","Orange"]
weekdays = ["Monday", "Tuesday"]

In [17]:
pd.Series(fruits, weekdays)

Monday      Apple
Tuesday    Orange
dtype: object

In [18]:
pd.Series(weekdays, fruits)

Apple      Monday
Orange    Tuesday
dtype: object

In [19]:
pd.read_csv("pokemon.csv", usecols=["Name"]).squeeze()

0          Bulbasaur
1            Ivysaur
2           Venusaur
3         Charmander
4         Charmeleon
            ...
1005    Iron Valiant
1006        Koraidon
1007        Miraidon
1008    Walking Wake
1009     Iron Leaves
Name: Name, Length: 1010, dtype: object

In [20]:
pokemon = pd.read_csv("pokemon.csv", usecols=["Name"]).squeeze("columns")

In [21]:
google = pd.read_csv("google_stock_price.csv", usecols=["Price"]).squeeze("columns")

In [22]:
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Name, dtype: object

In [23]:
google.tail()

4788    132.080002
4789    132.998001
4790    135.570007
4791    137.050003
4792    138.429993
Name: Price, dtype: float64

In [24]:
len(pokemon)

1010

In [25]:
type(pokemon)

pandas.core.series.Series

In [26]:
#list(pokemon)

In [27]:
#sorted(pokemon)

In [28]:
type(sorted(pokemon))

list

In [29]:
#dict(pokemon)

In [30]:
max(google)

151.863495

In [31]:
"Charmander" in list(pokemon)

True

In [32]:
"Venusaur" in pokemon.values

True

In [33]:
pokemon.sort_values()

459    Abomasnow
62          Abra
358        Absol
616     Accelgor
680    Aegislash
         ...
570      Zoroark
569        Zorua
40         Zubat
633     Zweilous
717      Zygarde
Name: Name, Length: 1010, dtype: object

In [34]:
pokemon = pd.read_csv("pokemon.csv", index_col="Name").squeeze("columns")

In [35]:
pokemon

Name
Bulbasaur          Grass, Poison
Ivysaur            Grass, Poison
Venusaur           Grass, Poison
Charmander                  Fire
Charmeleon                  Fire
                      ...
Iron Valiant     Fairy, Fighting
Koraidon        Fighting, Dragon
Miraidon        Electric, Dragon
Walking Wake       Water, Dragon
Iron Leaves       Grass, Psychic
Name: Type, Length: 1010, dtype: object

In [36]:
pokemon.sort_index()

Name
Abomasnow        Grass, Ice
Abra                Psychic
Absol                  Dark
Accelgor                Bug
Aegislash      Steel, Ghost
                  ...
Zoroark                Dark
Zorua                  Dark
Zubat        Poison, Flying
Zweilous       Dark, Dragon
Zygarde      Dragon, Ground
Name: Type, Length: 1010, dtype: object

In [37]:
pokemon.iloc[0]

'Grass, Poison'

In [38]:
pokemon.iloc[0:3]

Name
Bulbasaur    Grass, Poison
Ivysaur      Grass, Poison
Venusaur     Grass, Poison
Name: Type, dtype: object

In [39]:
pokemon.loc[["Bulbasaur","Zubat"]]

Name
Bulbasaur     Grass, Poison
Zubat        Poison, Flying
Name: Type, dtype: object

In [40]:
pokemon.iloc[[1,3,5, 7]]

Name
Ivysaur       Grass, Poison
Charmander             Fire
Charizard      Fire, Flying
Wartortle             Water
Name: Type, dtype: object

In [41]:
pokemon.get("Zubat","De")

'Poison, Flying'

In [42]:
pokemon.loc["Zubat"] = "newvalue"

In [43]:
pokemon.get("Zubat","De")

'newvalue'

In [44]:
pokemon

Name
Bulbasaur          Grass, Poison
Ivysaur            Grass, Poison
Venusaur           Grass, Poison
Charmander                  Fire
Charmeleon                  Fire
                      ...
Iron Valiant     Fairy, Fighting
Koraidon        Fighting, Dragon
Miraidon        Electric, Dragon
Walking Wake       Water, Dragon
Iron Leaves       Grass, Psychic
Name: Type, Length: 1010, dtype: object

In [45]:
pokemon = pd.read_csv("pokemon.csv", usecols=["Name"]).squeeze("columns")
pokemon

0          Bulbasaur
1            Ivysaur
2           Venusaur
3         Charmander
4         Charmeleon
            ...
1005    Iron Valiant
1006        Koraidon
1007        Miraidon
1008    Walking Wake
1009     Iron Leaves
Name: Name, Length: 1010, dtype: object

In [46]:
nba = pd.read_csv("nba.csv")
nba

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
s = pd.Series(range(1,6))
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [48]:
s.values

array([1, 2, 3, 4, 5])

In [49]:
nba.values

array([['Saddiq Bey', 'Atlanta Hawks', 'F', ..., 215.0, 'Villanova',
        4556983.0],
       ['Bogdan Bogdanovic', 'Atlanta Hawks', 'G', ..., 225.0,
        'Fenerbahce', 18700000.0],
       ['Kobe Bufkin', 'Atlanta Hawks', 'G', ..., 195.0, 'Michigan',
        4094244.0],
       ...,
       ['Tristan Vukcevic', 'Washington Wizards', 'F', ..., 220.0,
        'Real Madrid', nan],
       ['Delon Wright', 'Washington Wizards', 'G', ..., 185.0, 'Utah',
        8195122.0],
       [nan, nan, nan, ..., nan, nan, nan]], dtype=object)

In [50]:
s.shape

(5,)

In [51]:
nba.shape

(592, 7)

In [52]:
s.dtypes

dtype('int64')

In [53]:
nba.dtypes

Name         object
Team         object
Position     object
Height       object
Weight      float64
College      object
Salary      float64
dtype: object

In [54]:
s.hasnans

False

In [55]:
nba.columns

Index(['Name', 'Team', 'Position', 'Height', 'Weight', 'College', 'Salary'], dtype='object')

In [56]:
s.axes

[RangeIndex(start=0, stop=5, step=1)]

In [57]:
nba.axes

[RangeIndex(start=0, stop=592, step=1),
 Index(['Name', 'Team', 'Position', 'Height', 'Weight', 'College', 'Salary'], dtype='object')]

In [58]:
s.info()

<class 'pandas.core.series.Series'>
RangeIndex: 5 entries, 0 to 4
Series name: None
Non-Null Count  Dtype
--------------  -----
5 non-null      int64
dtypes: int64(1)
memory usage: 172.0 bytes

In [59]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 592 entries, 0 to 591
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      591 non-null    object
 1   Team      591 non-null    object
 2   Position  584 non-null    object
 3   Height    585 non-null    object
 4   Weight    584 non-null    float64
 5   College   578 non-null    object
 6   Salary    488 non-null    float64
dtypes: float64(2), object(5)
memory usage: 32.5+ KB

In [60]:
revenue = pd.read_csv("revenue.csv", index_col="Date")
revenue

         New York  Los Angeles  Miami
Date
1/1/26        985          122    499
1/2/26        738          788    534
1/3/26         14           20    933
1/4/26        730          904    885
1/5/26        114           71    253
1/6/26        936          502    497
1/7/26        123          996    115
1/8/26        935          492    886
1/9/26        846          954    823
1/10/26        54          285    216

In [61]:
revenue.sum(axis="index")

New York       5475
Los Angeles    5134
Miami          5641
dtype: int64

In [62]:
revenue.sum(axis="columns")

Date
1/1/26     1606
1/2/26     2060
1/3/26      967
1/4/26     2519
1/5/26      438
1/6/26     1935
1/7/26     1234
1/8/26     2313
1/9/26     2623
1/10/26     555
dtype: int64

In [63]:
nba

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
nba.Name

0             Saddiq Bey
1      Bogdan Bogdanovic
2            Kobe Bufkin
3           Clint Capela
4         Bruno Fernando
             ...
587         Ryan Rollins
588        Landry Shamet
589     Tristan Vukcevic
590         Delon Wright
591                  NaN
Name: Name, Length: 592, dtype: object

In [65]:
nba["Name"]

0             Saddiq Bey
1      Bogdan Bogdanovic
2            Kobe Bufkin
3           Clint Capela
4         Bruno Fernando
             ...
587         Ryan Rollins
588        Landry Shamet
589     Tristan Vukcevic
590         Delon Wright
591                  NaN
Name: Name, Length: 592, dtype: object

In [66]:
nba[["Salary","Name","Team"]]

         Salary               Name                Team
0     4556983.0         Saddiq Bey       Atlanta Hawks
1    18700000.0  Bogdan Bogdanovic       Atlanta Hawks
2     4094244.0        Kobe Bufkin       Atlanta Hawks
3    20616000.0       Clint Capela       Atlanta Hawks
4     2581522.0     Bruno Fernando       Atlanta Hawks
..          ...                ...                 ...
587   1719864.0       Ryan Rollins  Washington Wizards
588  10250000.0      Landry Shamet  Washington Wizards
589         NaN   Tristan Vukcevic  Washington Wizards
590   8195122.0       Delon Wright  Washington Wizards
591         NaN                NaN                 NaN

[592 rows x 3 columns]

In [67]:
nba["Sport"]="Basketball"
nba

,Name,Team,Position,Height,Weight,College,Salary,Sport
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0,Basketball
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0,Basketball
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0,Basketball
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0,Basketball
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0,Basketball
...,...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0,Basketball
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0,Basketball
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN,Basketball
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0,Basketball
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Basketball

In [68]:
nba.insert(loc=3, column="What", value="Basketball")
nba

,Name,Team,Position,What,Height,Weight,College,Salary,Sport
0,Saddiq Bey,Atlanta Hawks,F,Basketball,6-7,215.0,Villanova,4556983.0,Basketball
1,Bogdan Bogdanovic,Atlanta Hawks,G,Basketball,6-5,225.0,Fenerbahce,18700000.0,Basketball
2,Kobe Bufkin,Atlanta Hawks,G,Basketball,6-5,195.0,Michigan,4094244.0,Basketball
3,Clint Capela,Atlanta Hawks,C,Basketball,6-10,256.0,Elan Chalon,20616000.0,Basketball
4,Bruno Fernando,Atlanta Hawks,F-C,Basketball,6-10,240.0,Maryland,2581522.0,Basketball
...,...,...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,Basketball,6-3,180.0,Toledo,1719864.0,Basketball
588,Landry Shamet,Washington Wizards,G,Basketball,6-4,190.0,Wichita State,10250000.0,Basketball
589,Tristan Vukcevic,Washington Wizards,F,Basketball,6-10,220.0,Real Madrid,NaN,Basketball
590,Delon Wright,Washington Wizards,G,Basketball,6-5,185.0,Utah,8195122.0,Basketball
591,NaN,NaN,NaN,Basketball,NaN,NaN,NaN,NaN,Basketball

In [69]:
nba["Salary"]*2

0       9113966.0
1      37400000.0
2       8188488.0
3      41232000.0
4       5163044.0
          ...
587     3439728.0
588    20500000.0
589           NaN
590    16390244.0
591           NaN
Name: Salary, Length: 592, dtype: float64

In [70]:
nba["Salary Double"] = nba["Salary"] *2
nba

,Name,Team,Position,What,Height,Weight,College,Salary,Sport,Salary Double
0,Saddiq Bey,Atlanta Hawks,F,Basketball,6-7,215.0,Villanova,4556983.0,Basketball,9113966.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,Basketball,6-5,225.0,Fenerbahce,18700000.0,Basketball,37400000.0
2,Kobe Bufkin,Atlanta Hawks,G,Basketball,6-5,195.0,Michigan,4094244.0,Basketball,8188488.0
3,Clint Capela,Atlanta Hawks,C,Basketball,6-10,256.0,Elan Chalon,20616000.0,Basketball,41232000.0
4,Bruno Fernando,Atlanta Hawks,F-C,Basketball,6-10,240.0,Maryland,2581522.0,Basketball,5163044.0
...,...,...,...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,Basketball,6-3,180.0,Toledo,1719864.0,Basketball,3439728.0
588,Landry Shamet,Washington Wizards,G,Basketball,6-4,190.0,Wichita State,10250000.0,Basketball,20500000.0
589,Tristan Vukcevic,Washington Wizards,F,Basketball,6-10,220.0,Real Madrid,NaN,Basketball,NaN
590,Delon Wright,Washington Wizards,G,Basketball,6-5,185.0,Utah,8195122.0,Basketball,16390244.0
591,NaN,NaN,NaN,Basketball,NaN,NaN,NaN,NaN,Basketball,NaN

In [71]:
nba.dropna()

,Name,Team,Position,What,Height,Weight,College,Salary,Sport,Salary Double
0,Saddiq Bey,Atlanta Hawks,F,Basketball,6-7,215.0,Villanova,4556983.0,Basketball,9113966.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,Basketball,6-5,225.0,Fenerbahce,18700000.0,Basketball,37400000.0
2,Kobe Bufkin,Atlanta Hawks,G,Basketball,6-5,195.0,Michigan,4094244.0,Basketball,8188488.0
3,Clint Capela,Atlanta Hawks,C,Basketball,6-10,256.0,Elan Chalon,20616000.0,Basketball,41232000.0
4,Bruno Fernando,Atlanta Hawks,F-C,Basketball,6-10,240.0,Maryland,2581522.0,Basketball,5163044.0
...,...,...,...,...,...,...,...,...,...,...
585,Eugene Omoruyi,Washington Wizards,F,Basketball,6-6,235.0,Oregon,559782.0,Basketball,1119564.0
586,Jordan Poole,Washington Wizards,G,Basketball,6-4,194.0,Michigan,27955357.0,Basketball,55910714.0
587,Ryan Rollins,Washington Wizards,G,Basketball,6-3,180.0,Toledo,1719864.0,Basketball,3439728.0
588,Landry Shamet,Washington Wizards,G,Basketball,6-4,190.0,Wichita State,10250000.0,Basketball,20500000.0
590,Delon Wright,Washington Wizards,G,Basketball,6-5,185.0,Utah,8195122.0,Basketball,16390244.0

In [77]:
nba.Salary = nba.Salary.fillna(0)

In [78]:
nba.Weight = nba.Weight.fillna(0)

In [79]:
nba.dtypes

Name              object
Team              object
Position          object
What              object
Height            object
Weight           float64
College           object
Salary           float64
Sport             object
Salary Double    float64
dtype: object

In [83]:
nba.Weight = nba.Weight.astype(int)

In [84]:
nba.Salary = nba.Salary.astype(int)

In [85]:
nba.dtypes

Name              object
Team              object
Position          object
What              object
Height            object
Weight             int64
College           object
Salary             int64
Sport             object
Salary Double    float64
dtype: object

In [87]:
nba.Team.nunique()

30

In [88]:
nba.nunique()

Name             591
Team              30
Position           7
What               1
Height            20
Weight            94
College          182
Salary           299
Sport              1
Salary Double    298
dtype: int64

In [89]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 592 entries, 0 to 591
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Name           591 non-null    object
 1   Team           591 non-null    object
 2   Position       584 non-null    object
 3   What           592 non-null    object
 4   Height         585 non-null    object
 5   Weight         592 non-null    int64
 6   College        578 non-null    object
 7   Salary         592 non-null    int64
 8   Sport          592 non-null    object
 9   Salary Double  488 non-null    float64
dtypes: float64(1), int64(2), object(7)
memory usage: 46.4+ KB

In [92]:
nba.Position = nba.Position.astype("category")
nba.Team = nba.Team.astype("category")

In [93]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 592 entries, 0 to 591
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Name           591 non-null    object
 1   Team           591 non-null    category
 2   Position       584 non-null    category
 3   What           592 non-null    object
 4   Height         585 non-null    object
 5   Weight         592 non-null    int64
 6   College        578 non-null    object
 7   Salary         592 non-null    int64
 8   Sport          592 non-null    object
 9   Salary Double  488 non-null    float64
dtypes: category(2), float64(1), int64(2), object(5)
memory usage: 39.9+ KB

In [94]:
nba.Name.sort_values()

122        A.J. Lawson
324           AJ Green
6           AJ Griffin
141       Aaron Gordon
198      Aaron Holiday
            ...
83         Zach LaVine
149         Zeke Nnaji
291    Ziaire Williams
370    Zion Williamson
591                NaN
Name: Name, Length: 592, dtype: object

In [95]:
nba.sort_values("Name")

,Name,Team,Position,What,Height,Weight,College,Salary,Sport,Salary Double
122,A.J. Lawson,Dallas Mavericks,G,Basketball,6-6,179,South Carolina,0,Basketball,NaN
324,AJ Green,Milwaukee Bucks,G,Basketball,6-5,190,Northern Iowa,1901769,Basketball,3803538.0
6,AJ Griffin,Atlanta Hawks,F,Basketball,6-6,220,Duke,3712920,Basketball,7425840.0
141,Aaron Gordon,Denver Nuggets,F,Basketball,6-8,235,Arizona,22266182,Basketball,44532364.0
198,Aaron Holiday,Houston Rockets,G,Basketball,6-0,185,UCLA,2346614,Basketball,4693228.0
...,...,...,...,...,...,...,...,...,...,...
83,Zach LaVine,Chicago Bulls,G,Basketball,6-5,200,UCLA,40064220,Basketball,80128440.0
149,Zeke Nnaji,Denver Nuggets,F-C,Basketball,6-9,240,Arizona,4306281,Basketball,8612562.0
291,Ziaire Williams,Memphis Grizzlies,F,Basketball,6-9,185,Stanford,4810200,Basketball,9620400.0
370,Zion Williamson,New Orleans Pelicans,F,Basketball,6-6,284,Duke,34005250,Basketball,68010500.0
591,NaN,NaN,NaN,Basketball,NaN,0,NaN,0,Basketball,NaN

In [97]:
nba.sort_values(["Team","Name"])

,Name,Team,Position,What,Height,Weight,College,Salary,Sport,Salary Double
6,AJ Griffin,Atlanta Hawks,F,Basketball,6-6,220,Duke,3712920,Basketball,7425840.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,Basketball,6-5,225,Fenerbahce,18700000,Basketball,37400000.0
4,Bruno Fernando,Atlanta Hawks,F-C,Basketball,6-10,240,Maryland,2581522,Basketball,5163044.0
3,Clint Capela,Atlanta Hawks,C,Basketball,6-10,256,Elan Chalon,20616000,Basketball,41232000.0
8,De'Andre Hunter,Atlanta Hawks,F-G,Basketball,6-8,221,Virginia,20089286,Basketball,40178572.0
...,...,...,...,...,...,...,...,...,...,...
578,Taj Gibson,Washington Wizards,F,Basketball,6-9,232,Southern California,0,Basketball,NaN
589,Tristan Vukcevic,Washington Wizards,F,Basketball,6-10,220,Real Madrid,0,Basketball,NaN
580,Tyus Jones,Washington Wizards,G,Basketball,6-2,196,Duke,14000000,Basketball,28000000.0
573,Xavier Cooks,Washington Wizards,F,Basketball,6-8,183,Winthrop,1719864,Basketball,3439728.0
591,NaN,NaN,NaN,Basketball,NaN,0,NaN,0,Basketball,NaN

In [100]:
emp=pd.read_csv("employees.csv")
emp.head()

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
0,Douglas,Male,8/6/1993,12:42 PM,97308,6.945,True,Marketing
1,Thomas,Male,3/31/1996,6:53 AM,61933,4.170,True,NaN
2,Maria,Female,4/23/1993,11:17 AM,130590,11.858,False,Finance
3,Jerry,Male,3/4/2005,1:00 PM,138705,9.340,True,Finance
4,Larry,Male,1/24/1998,4:47 PM,101004,1.389,True,Client Services

pd.to_date(emp["Start Date"])

In [103]:
pd.to_datetime(emp["Start Date"])

0     1993-08-06
1     1996-03-31
2     1993-04-23
3     2005-03-04
4     1998-01-24
         ...
995   2014-11-23
996   1984-01-31
997   2013-05-20
998   2013-04-20
999   2012-05-15
Name: Start Date, Length: 1000, dtype: datetime64[ns]